:root {
    --color-primary: #3d64af;
    --color-secondary: #f4a261;
    --color-primary-emphasis: #274172;
    --color-secondary-emphasis: #c5844e;
    --color-lightprimary: #635bff40;
    --color-lightsecondary: #16cdc740;
    --color-info: #46caeb;
    --color-success: #36c96c;
    --color-warning: #f8c20a;
    --color-error: #ff6692;
    --color-lightsuccess: #2ea95c40;
    --color-lighterror: #ff669260;
    --color-lightinfo: #46caeb40;
    --color-lightwarning: #f8c20a40;
    --color-white: #fff;
    --color-dark: #000000;
    --color-border: #e0e6eb;
    --color-bordergray: #f3f3f4;
    --color-darkborder: #333f55;
    --color-link: #2a3547;
    --color-muted: #eff4fa;
    --color-darkmuted: #2a3851;
    --color-darklink: #29343d;
    --color-lightgray: #f4f7fb;
    --color-lighthover: #f6f7f9;
    --color-darkgray: #222222;
    --color-sky: #0a2540;
    --color-error-emphasis: #d9577c;
    --color-warning-emphasis: #d3a509;
    --color-success-emphasis: #2ea95c;
    --color-info-emphasis: #3cacc8;
    --color-surface-ld: #ffffff;
    --color-bodytext: #98a4ae;
    --color-textgray: #666666;
}
